body {
  background-color: rgb(21, 43, 46);
}
header {
  background-color: rgb(49, 103, 110);
}

.navbar-brand img {
  height: 45px; /* Ajusta la altura del ícono según tus preferencias */
  width: auto; /* Permite que el ancho se ajuste automáticamente según la altura */
}
